<div class="wrap">
<div class="my_case">
<h2>登录</h2>
</div>
<%=form_for(:session, :url=>sessions_path) do |f| %>

    <div class='field' >
<%= f.label :login,"邮箱名" %>
<%= f.text_field :login %> @autonavi.com
      </div>
<div class='field' >
        <%=f.label :password,"密码" %>
        <%=f.password_field :password %>
 </div>
<div class='action'>
  <%= f.submit "登录" %>
</div>
<%end%>
</div>
